
.mainBox{
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1000;
    font-size: 20px;
    font-weight: 500;
    background-color: #15153a;
  }
  .myLogo {
    cursor: pointer;
  }
  
  .nav {
      cursor: pointer;
      height: 45px;
      display: flex;
      align-items: center;
      width: 100%;
      justify-content: center;
      color:white

    }
    .nav:hover {
      border-bottom: 3px solid #ef2be2;
    }

  .navStatic {
    cursor: default;
    height: 45px;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
    color: white;
    opacity: 0.85;
    user-select: none;
  }
    