.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 60px;
    width: max-content;
    max-width: 130px;
    margin: 0 auto;
    padding: 8px 8px;
    cursor: pointer;
    color: #15153a;
    border-radius: 8px;
    text-align: center;
}

.card:hover {
    color: #a00596;
    box-shadow: 1px 1px 17px 5px #a00596;
    -webkit-box-shadow: 1px 1px 17px 5px #a00596;
    -moz-box-shadow: 1px 1px 17px 5px #a00596;
}
